.Screen-wrapper {
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px
}

.api-list {
    height: 290px;
    overflow: scroll;
}

.Screen-header {
    border-radius: 3px;
    background: #CFCFCF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.49);
    padding: 5px 10px;
}
.top-shelf {
    display: flex;
    justify-content: space-between;
}

.top-shelf-text {
    justify-content: center;
    gap: 3px;
    display: flex;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.screen-title {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}